<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Leads</title>
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <div class="container mt-4">
        <div class="filter-btns">
            <button class="btn btn-primary filter-btn selected" onclick="filterLeads('INVITED')">Mostrar
                INVITED</button>
            <button class="btn btn-success filter-btn" onclick="filterLeads('ACCEPTED')">Mostrar ACCEPTED</button>
        </div>
        <div class="row" id="leadsContainer">
            <div class="col-md-4 mb-4" th:each="lead : ${leads}">
                <div class="card lead-card h-100" th:attr="data-status=${lead.status}">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i id="letra" class="fa-solid"></i>
                            <span id="nome" th:text="${lead.firstName}"></span>
                            <span>&nbsp;</span>
                            <span class="accepted" th:text="${lead.lastName}"></span>
                        </h5>
                        <ul id='listaLeads' class="list-unstyled">
                            <li>Data: <span th:text="${#dates.format(lead.dateCreated, 'dd/MM/yyyy')}"></span>
                            </li>
                            <div class="list-middle accepted">
                                <li class="accepted" th:text="'Email: ' + ${lead.email}"></li>
                                <li class="accepted" th:text="'Telefone: ' + ${lead.phone}"></li>
                            </div>
                            <div class="list-middle">

                                <li><i class="fa-solid fa-location-dot"></i><span th:text="' ' + ${lead.suburb}"></span>
                                </li>
                                <li><i class="fa-solid fa-briefcase"></i><span th:text="' ' + ${lead.category}"></span>
                                </li>
                                <li>ID: <span th:text="${lead.id}"></span></li>
                            </div>
                            <li>Descrição: <span th:text="${lead.description}"></span></li>
                            <li id="preco">Preço: R$<span th:text="${lead.price}"></span></li>
                            <div id="btns">
                                <li class="invited">
                                    <button id="accept-btn" class="btn btn-success invited"
                                        th:onclick="|acceptLead(this, '${lead.id}')|">Accept</button>
                                </li>
                                <li class="invited">
                                    <button id="decline-btn" class="btn btn-success invited"
                                        th:onclick="|declineLead(this, '${lead.id}')|">Decline</button>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>